registry=https://registry.npmjs.org/
@as-platform:registry=https://nexus.as-team.space/repository/npm-hosted/
//nexus.as-team.space/repository/npm-hosted/:username=nexus
//nexus.as-team.space/repository/npm-hosted/:_password=UXExMjM0NTY3OA==
email=front@gazgolder.ru
always-auth=true
save=true
install-strategy="shallow"
