:host {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;

	&::ng-deep {
		login-container,
		not-found-container,
		profile-wrapper-container,
		profile-container,
		ticket-container,
		tickets-container {
			display: flex;
			flex: 1;
			flex-direction: column;
		}
	}

	.main {
		box-sizing: border-box;
		display: flex;
		flex: 1;
		flex-direction: column;
		gap: 4px;
		padding: 16px;
	}
}
