@if (ticketsLoadingStatus().loading) {
	<spinner />
} @else {
	@if (sortedTickets().data.length) {
		<table class="mat-elevation-z8" mat-table multiTemplateDataRows matSort [dataSource]="sortedTickets()">
			@for (column of columns; track column) {
				<ng-container [matColumnDef]="column">
					<th *matHeaderCellDef mat-header-cell mat-sort-header>{{ columnTitle[column] }}</th>
					<td *matCellDef="let element" mat-cell>{{ element[column] }}</td>
				</ng-container>
			}

			@if (isFullView()) {
				<ng-container matColumnDef="expand">
					<th *matHeaderCellDef mat-header-cell aria-label="row actions">&nbsp;</th>
					<td *matCellDef="let element" class="ticket-expand" mat-cell>
						<button
							mat-icon-button
							aria-label="expand row"
							(click)="changeExpandedElement($event, element)"
						>
							@if (expandedTicket === element) {
								<mat-icon>keyboard_arrow_up</mat-icon>
							} @else {
								<mat-icon>keyboard_arrow_down</mat-icon>
							}
						</button>
					</td>
				</ng-container>

				<ng-container matColumnDef="expandedDetail">
					<td *matCellDef="let element" mat-cell [attr.colspan]="columnsWithExpand().length">
						<div
							class="ticket-detail"
							[@detailExpand]="element == expandedTicket ? 'expanded' : 'collapsed'"
						>
							<div class="ticket-description">
								{{ element.description }}
							</div>
						</div>
					</td>
				</ng-container>
			}

			<tr *matHeaderRowDef="columnsWithExpand()" mat-header-row></tr>
			<tr
				*matRowDef="let element; columns: columnsWithExpand()"
				class="ticket-row"
				mat-row
				[class.ticket-expanded-row]="expandedTicket === element"
				(click)="openTicket($event, element)"
			></tr>

			@if (isFullView()) {
				<tr *matRowDef="let row; columns: ['expandedDetail']" class="ticket-detail-row" mat-row></tr>
			}
		</table>
	} @else {
		<no-data />
	}
}
