:host {
	display: flex;
	flex: 1;
	flex-direction: column;

	table {
		width: 100%;

		.mat-mdc-row {
			&.ticket-detail-row {
				height: 0;
			}

			&:not(.ticket-expanded-row) {
				&:hover {
					background: whitesmoke;
				}

				&:active {
					background: #efefef;
				}
			}
		}

		.ticket {
			&-detail {
				display: flex;
				overflow: hidden;
			}

			&-expand {
				width: 24px;
			}

			&-description {
				padding: 16px 0;
			}

			&-row {
				.mat-mdc-cell {
					border-bottom-width: 0;
				}
			}
		}
	}
}
